name: Continous Delivery

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Build and publish
        run: mvn -B deploy -s $GITHUB_WORKSPACE/settings.xml -Drevision.patch=$GITHUB_RUN_NUMBER
        env:
          GITHUB_TOKEN: ${{ github.token }}
