name: Pull request (delombok)

on:
  pull_request:
    branches: [ 2.x ]

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build with Maven and delombok
        run: mvn -Pdelombok -B package

      - uses: actions/upload-artifact@v2
        with:
          name: javadocs-core
          path: transactionoutbox-core/target/apidocs

      - uses: actions/upload-artifact@v2
        with:
          name: javadocs-guice
          path: transactionoutbox-guice/target/apidocs

      - uses: actions/upload-artifact@v2
        with:
          name: javadocs-jooq
          path: transactionoutbox-jooq/target/apidocs

      - uses: actions/upload-artifact@v2
        with:
          name: javadocs-spring
          path: transactionoutbox-spring/target/apidocs